# Xcode
/ios/*.xcuserstate
/ios/*.xcworkspace
/ios/*.xcodeproj/*
/ios/!*.xcodeproj/project.pbxproj
/ios/!*.xcodeproj/xcshareddata/

# Derived data and build products
/ios/DerivedData/
/ios/build/
/ios/*.log

# SwiftPM
/ios/Packages/
/ios/.swiftpm/
/ios/.build/

# CocoaPods
/ios/Pods/
/ios/Podfile.lock

# Carthage
/ios/Carthage/Build/

# Other
.DS_Store

# Android Studio
*.iml
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/local.properties
android/.idea/*
